<div class="layout-topbar-start">
	<a class="layout-topbar-logo gap-2" routerLink="/">
		<i class="pi pi-shopping-bag" style="font-size:1.3rem; color: var(--primary-color)"></i>
		<div class="titre p-0 m-0">Shop Droping</div>
	</a>
	<a #menuButton class="layout-menu-button" (click)="onMenuButtonClick()">
		<i class="pi pi-chevron-right"></i>
	</a>
</div>

<div class="layout-topbar-end">
	<div class="layout-topbar-actions-start"></div>

	<div class="layout-topbar-actions-end">
		<ul class="layout-topbar-items">
			<li>
				<a routerLink="/boutique/panier" class="cursor-pointer" title="Mon panier">
					<i class="pi pi-shopping-cart"></i>
				</a>
			</li>
			<li>
				<a (click)="toggleConfigSidebar()" class="cursor-pointer" title="Thème">
					<i class="pi pi-cog"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
